<div class="contPage mastermaind">

    <div class="top">
        <div class="b00">
            Саморазвитие • Здоровье • Бизнес
        </div>

        <a href="/" class="name">
            АНАНДА ШАДРИН
        </a>
    </div>
    <h1>НАБОР В МАСТЕРМАЙНД</h1>
    <div class="cont">


        <div class="blM1">
            <div>5 участников</div>
            <div>12 встреч в формате online встреч в zoom, каждую неделю</div>


        </div>
        <div class="blM2">
            <p><b>Группа = ускорение.</b> В команде вы сделаете больше, чем в одиночку — ежедневные действия станут легче и продуктивнее</p>
            <p><b>Поддержка без критики.</b> Я, как коуч и ведущий мастермайнда, плюс группа поддержим вас на каждом шаге, помогая преодолеть саботаж и страхи</p>
            <p><b>Дисциплина и мотивация.</b> Групповая динамика создаст мощный толчок для регулярных действий — от спорта до ведения блога</p>
            <p><b>Идеи и решения.</b> Получишь неочевидные инсайты и новые подходы от участников из разных сфер и индустрий</p>
            <p><b>Нетворкинг.</b> Возможность найти клиентов и партнеров для коллабораций.</p>
        </div>
        <h3>ПРОГРАММА МАСТЕРМАЙНДА</h3>


        <ul>
            <li>стратегическая сессия по целям, индивидуально со мной перед мастермайндом</li>
        </ul>
        <a href="/" class="a1 bA ex1">
            Подать заявку на сессию <span>бесплатно</span>
        </a>
        <ul>

            <li>1 раз в неделю встречи онлайн zoom 2 часа (выбираем группой удобное время)</li>
            <li>треккинг таблица для отслеживания вашей дисциплины и шагов</li>
            <li>общий чат в телеграм</li>
        </ul>

        <h3>СТОИМОСТЬ И УСЛОВИЯ</h3>

        <ul>
            <li>4000 рублей | 50 долларов каждые 4 встречи</li>
            <li>оплата раз в месяц. Любым удобным для вас вариантом</li>
            <li>перед мастермайндом каждый участник проходит интервью, чтобы группа собралась максмально согласованная и на
                одном уровне ценностей
            </li>
            <li>ограниченное количество участников - 5 человек дает возможность каждому проработать свой запрос на каждой
                встрече
            </li>
        </ul>
        <a href="/" class="a1 bA ex2">
            Подать заявку на участие
        </a>

    </div>
</div>
