<div class="contPage mastermind">

    <%- include('top_in') %>
    <h1>ТРАНСФОРМАЦИЯ БЕЗ САБОТАЖА</h1>
    <div class="cont">
        <h3>Гайд о том, как перестать воевать с телом и начать снижать вес без давления и срывов.
        </h3>

        <p> </p>
        <div class="d-flex justify-content-center bl_download" >
            <a href="/cont/guide.pdf" class="btn download open_pdf" >Открыть фаил</a>


        </div>
        <div class="d-flex justify-content-center" >
            <a href="/cont/guide.pdf" download class="d_anh load_pdf" >скачать фаил</a>


        </div>
    </div>

</div>