<div class="contPage">

    <div class="top">
        <div class="b00">
            Саморазвитие • Здоровье • Бизнес
        </div>

        <a href="/" class="name">
            АНАНДА ШАДРИН
        </a>
    </div>
    <h1>ИНДИВИДУАЛЬНЫЙ КОУЧИНГ</h1>
    <div class="cont">
        
        <p>Коуч не говорит, что делать.</p>
        <p>Лучше всего, что делать, знаете именно вы.</p>

        <p>&nbsp;</p>
        <p>Коуч лишь вопросами и упражнениями помогает</p>
        <p>▪️‌ проявить ваше желание,</p>
        <p>▪️‌ сформулировать запрос,</p>
        <p>▪️‌ и найти в себе стратегии как его реализовать наилучшим образом</p>
        <p>В этом я с удовольствием помогу я.</p>

        <h3>КОМУ НУЖЕН КОУЧ</h3>
        <p>Тому в ком есть желание что-то изменить в своей жизни и есть желание делать что либо для этого</p>

        <h3>С ЧЕГО НАЧАТЬ</h3>
        <p>Лучше всего начать со встречи-диагностики. На ней мы сможем</p>
        <p>▪️‌ познакомиться,</p>
        <p>▪️‌ обсудить ваш запрос,</p>
        <p>▪️‌ я расскажу свои методики,</p>
        <p>▪️‌ и может даже сделать подходящее упражнение.</p>
        <p>Займёт это 30-40 минут, стоимость бесплатная</p>

        <a href="/" class="bA a1 ex3">записаться на  бесплатную
            встречу-диагностику</a>


        <h3>СТОИМОСТЬ И  УСЛОВИЯ</h3>


        <p>▪️ 2500 рублей | 30 долларов 1 сессия</p>
        <p>▪️‌ 8000 рублей | 100 доллоров 4 сессии</p>
        <p>▪️ Длительность 60-90 минут</p>
        <p>▪️ Он-лайн раз в неделю</p>

        <a href="/" class="bA a1 ex2">Подать заявку</a>
        




    </div>
</div>
