<div class="contPage mastermind">

    <%- include('top_in') %>
    <h1>Скачать файл</h1>
    <div class="cont">

        <p>Это короткий гайд о том, почему тело сопротивляется похудению и
            как снять внутренний “ручник”</p>
        <div class="d-flex justify-content-center bl_download" >
            <a href="/cont/good.pdf" class="btn download" >Открыть фаил</a>


        </div>
        <div class="d-flex justify-content-center" >
            <a href="/cont/good.pdf" download class="d_anh" >скачать фаил</a>


        </div>
    </div>

</div>