<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ананда <%= ('| '+ title) || 'Шадрин' %></title>
    <meta name="description" content="Мастермайнд-группа для тех, кто хочет ясности, энергии и поддержки единомышленников. Практики медитации, психология и коучинг для личного и профессионального роста." />

    <!-- Шрифты (пример Google Fonts)-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <!-- Основные стили -->
    <link rel="shortcut icon" href="/images/favicon.ico"/>
    <link rel="stylesheet" href="/css/main.css">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EPJLYB8DT2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-EPJLYB8DT2');
    </script>
</head>
<body>
<header class="header">
    <nav class="nav">

    </nav>
</header>