<%- include('./partials/top.ejs') %>

<main>


    <div class="container">
        <div class="top main">
            <div class="b00">
                Саморазвитие • Здоровье • Бизнес
            </div>

            <div class="b01">
                <span>Коуч</span>
                <span>Ведущий <br>мастермайндов</span>
                <span>Инструктор <br>по медитации</span>
                <span class="i">4+ года</span>

            </div>

            <div class="name">
                АНАНДА ШАДРИН
            </div>
        </div>

        <div class="cont">
            <h3>УСЛУГИ</h3>

            <a href="/" class="a1 bA">
                Набор в мастермайнд
            </a>
            <a href="/" class="a2 bA">Индивидуальный коучинг</a>


            <h3>КОНТАКТЫ</h3>
            <a href="https://t.me/ananda_uz" class="a3 bA">Личное сообщение в Телеграм</a>

            <h3>ССЫЛКИ</h3>
            <a href="https://www.youtube.com/@eshouz" class="a4 bA">YouTube канал</a>
            <a href="https://t.me/ananda_uzc" class="a5 bA">Телеграм канал</a>
            <a href="https://www.instagram.com/esholuchshe/" class="a6 bA">Мой инстаграм</a>

<!--     Обо мне      -->



        </div>

    </div>


</main>

<%- include('./partials/bottom.ejs') %>







