<h3>Ретрит</h3>

<p>Что же такое этот ретрит?</p>

<p><b>Ретри́т</b>, <i>(англ. retreat [ɹɪˈtɹiːt] —
        «уединение», «удаление от общества», рус. лит. «затвор»)</i> — английское
    слово, вошедшее в русский язык как международное обозначение
    времяпрепровождения, посвящённого духовной практике, — так говорит Википедия.</p>

<p>А как я понял — это когда йоги собираются большой компанией
    и о-о-о-о-о-чееееень интенсивно практикуют йогу.
    И всё это происходит под
    присмотром учителей, более опытных йогов, чтобы кто чего не перенатворил.</p>

<p>Вот и у нас около 130 человек (кто-то уезжал, кто-то
    приезжал), с нами были трое Дад и одна Диди, и нас ждал прям интенсивчик.</p>

<p>И тут, я думаю, таки нужно расписать, что за ретрит у нас
    был.
    Пройдусь прям по распорядку дня, описывая каждый пункт. Возможно, это
    кому-то покажется скучным, но мне лично будет приятно вспомнить.</p>

<%- include('../img_block', {url:"IMG_20180911_043852.jpg",article}) %>

<p>Итак, подъём в 4:45.
    15 минут на умыться и добежать до
    общего зала.</p>

<p>В 5:00 Панчаджанья — это когда мы все немного танцуем киртан,
    а после — групповая медитация.</p>

<p>Ну, раз пошли сразу непонятные слова, не откладывая в долгий
    ящик, буду объяснять.</p>

<p><b>Ки́ртан(а)</b>, или <b>санки́ртан(а)</b> <i>(санскр. — «повторять»)</i> — форма духовной практики,
    динамическая медитация.
    Ведущий, обычно он был с гитарой, вставал у микрофона, начинал
    играть, петь мантру «Баба нам кевалам» и танцевать очень простой танец из
    нескольких движений.</p>

<p>Вот тут можно узнать полностью про этот танец <a
            href="https://youtu.be/0FXFzLmCxUk" class="anh">Лалита
        Мармика (внутренняя красота).
        Медитация в движении</a>.</p>

<p>И все в едином порыве, без фанатизма, просто в удовольствие
    начинают подпевать и танцевать все вместе.
</p>

<p>Я вообще достаточно социофобен и плохо отношусь к толпе, и
    поначалу я испытывал дискомфорт, первые минутки две-три, но потом начинаешь
    понимать, что это не толпа — это какое-то единение: мантра начинает пронизывать
    тебя, и ты наполняешься добром, и тебе просто хорошо!
    Разум успокаивается, расширяется.</p>

<p>А после — обычная медитация. Когда мы садимся в позу лотоса и медитируем.
    Если вдруг кто захочет попробовать освоить технику, то это очень просто.
    Команда Дады Садананды создала даже специально сайт, на котором даются уроки
    совершенно бесплатно, и вы можете перейти по ссылке и сами научиться <a
            href="https://урокимедитации.рф" class="anh">УрокиМедитации.рф</a>.</p>

<p>И так вот: 15 минут одного, 15 минут другого.</p>

<p>Сразу после этого мы танцевали женский танец каошики.
    Ну как
    женский — вообще не понимаю, почему он так называется, так как танцевать его
    капец как сложно.
    В нём не такие сложные движения, но в бодром ритме пляшешь 21
    минуту и под конец едва двигаешься.</p>

<p>Раньше я как-то несерьёзно относился к этому танцу, если
    честно, не практиковал.
    А теперь же понимаю, что это очень крутая штука для
    организма — прям ощущаешь, как он весь начинает работать.</p>

<p>Тут можно получить полное описание этого танца, попробуйте
    как-нибудь, не пожалеете <a target="_blank" class="anh" href="https://www.youtube.com/watch?v=EQGzOXYgcIA">Каушики
        (Каошики).
        Танец, расширяющий сознание</a>.</p>

<p>Ведущей была всегда Диди Сарвагья. Это очень такая маленькая,
    очень-очень-очень-очень приятная женщина.
    И вот идёт какая-нибудь 10-я минута из
    21, руки затекли, едва двигаешься, а посмотришь на неё — она так легко двигается,
    и думаешь: да как же так!!!
    Собираешь все силы и продолжаешь.</p>

<p>Ну, а после этого танца с танцпола уходят все девчонки,
    наставало время настоящих мужчин — мы готовились к мужскому танцу тандава.
    Видео
    об этом танце <a target="_blank" class="anh" href="https://www.youtube.com/watch?v=S6jZjswThlQ">Мужской
        танец.
        Тандава</a>.</p>

<p>Если женский танец — это очень на выносливость, то мужской —
    прям на силу.
    Танцуется он недолго, минуты 3–4, за которые мы чуть не
    умирали)))).
    Ведущий кричит «Баба нам», мы отвечаем «кевалам», и снова кричит, и
    мы отвечаем.
    Девушки на это всё смотрят, хлопают, подпевают, подбадривают!
    Действие, прямо скажем, необычное — горячее.</p>

<p>После, тяжело дыша, мы расходимся по номерам — 30 минут на
    принять душ, отдохнуть.
    Но я обычно не отдыхал))). 5 утр из 6 я бежал
    за плавками и алха!!!
    (вперёд!!!) к морю, оно же озеро.</p>

<p>Не считаю себя моржом, но уже как год практикую холодное
    полуомовение по утрам, и оказалось, что тело довольно хорошо относится к холоду.
    В
    общем, прибегал на берег, переодевался и бултых). Вода теплее, чем температура
    воздуха))).
    Было очень здорово.</p>

<p>А в один из дней море было неспокойно — волны прямо!
    Я не
    видел таких волн ранее (я вообще мало видел волн).
    И такие высокие — метра
    полтора, я думаю.
    Редко как-то встретишь яркий восторг в жизни, а тут — когда
    волна подхватила и понесла, и как ух, и как эх… от восторга я смеялся от всей
    души… было нереально здорово!!!</p>

<p>Покупавшись чуток, я собирал вещички и бежал обратно, чтобы
    принять душ и успеть на йога-класс.</p>

<p>Да-да, после столь динамичного начала утра всегда было
    продолжение в виде хатха-йоги на 1:10.
    Уроки проводили инструкторы из Ташкента и
    Киргизии. Уроки были хорошими, учителя классные.</p>

<p>И только после хорошенькой нагрузочки в асанах и расслабляющей
    шавасаны начиналась коллективная медитация.
    Вообще перед каждым приёмом пищи
    была медитация в полном объёме.
    А это значит: 25 минут киртана, 30 минут
    медитации.</p>

<p>Можно подумать: «Блин, 55 минут — вот же ж скука, и одно и
    то же».
    Но, как ни странно, это не так. Коллективная медитация — это почти час
    удовольствия,
    где без всяких наркотиков и прочей ерунды, наносящей вред мозгу, можно
    довести себя до восторга.
    Это реально очень круто. После медитации ощущение, что
    ты как будто чище, легче, светлее и больше).</p>
