<h3>Вступление</h3>



<p>О чём я тут буду писать? </p>

<p>О том, как я поехал на Иссык-Куль, о том, что я там делал
    целую неделю, и определённо буду говорить о йоге и о тех, кто помогал нам
    постигать её.</p>

<p>Почему я буду это делать?</p>

<%- include('../img_block', {url:"IMG_20180909_105433.jpg",article}) %>

<p>Потому что хочется похвастаться, скорее всего.
    Многие работали, а я прохлаждался на замечательном озере).</p>

<p>Но на самом деле я надеюсь,
    что я это делаю больше от того, что мне хочется поделиться своими эмоциями, а также рассказать, что такое йоговский ретрит.</p>

<p>Ведь, наверняка, большинство даже не догадывается о том, что там происходит, так же как не
    догадывался и я.</p>

<p>Возможно, мне получится передать, как мне было хорошо там. А
    может, также текстом подскажу кому-нибудь поехать на подобное мероприятие (я
    был бы рад).</p>

<p class='green'>Я планирую рассказывать о происходящем не только как человек, который
    ничего не знает о йоге (асанах, медитациях и прочем),
    но и как практикующий уже полтора года.</p>

<p class='green'>Но, думается, второе будет не всем
    интересно, и поэтому, возможно, я стану выделять это зелёным — если не интересно,
    вы просто сможете пропускать блоками.</p>

<h3>С чего всё началось.</h3>

<p>Как ни странно, всё началось с девушки).
    Это моя подруга Химера. Она хвасталась, что
    простояла в планке 2 минуты, и была очень горда собой.</p>

<p>Я подумал — что за
    планка? Нашёл, попробовал — реально круто.</p>

<p>И сразу подумал — а что там ещё
    есть, и закрутилось)))).</p>

<p>Первым моим сайтом был сайт проекта «SLAVYOGA»,
    <a href="http://slavyoga.ru/" class="anh" target="_blank">это ссылка на их сайт</a>.
    Сайт полон очень полезной информации. Там же я увидел
    видеоролик с интервью с Дадой Саданандой.</p>

<p>И сразу перешёл на сайт «УрокиМедитации.рф», <a
            href="https://урокимедитации.рф/" class="anh">вот ссылка и на этот крутой сайт</a>, где
    сразу же начал курс по освоению медитации.
</p>

<p class='green'>Это оказалось так просто и так классно!</p>

<p>И так начал практиковать.
    А в августe Дада на YouTube объявил, что будет ретрит на
    Иссык-Куле, и он там будет. Я сразу же понял, что я туда еду.</p>

<p>Я перешёл на
    страницу ретрита и через их техподдержку выяснил,
    что из Ташкента едет целая делегация числом в 30 человек.</p>

<p>Я был почему-то очень
    сильно удивлён.</p>

<p>Хотя сейчас я удивляюсь, почему не больше.
    В общем, во главе
    группы была Амалина.</p>

<p>Она взяла весь груз организации
    по доставке группы на место и обратно. Она выполнила это просто блестяще!</p>

<p>За что ей
    огромное спасибо. Оставалось следовать её инструкции и держаться рядом, и
    волнениям не оставалось места — всё было очень легко и надёжно.</p>

<p>И это при том,
    что она была сама с маленьким ребёнком.</p>

<p>Вспоминаю об этом и прям благодарен —
    если ты читаешь это, Амалина, то знай: ты просто
    супер!</p>

<p>Заранее мы купили билеты на автобус, оставалось лишь
    дождаться дня выезда.</p>
