<h3>Первый день</h3>

<p> Первый день ретрита начался в Бишкеке. </p>

<p>Хостел — занятная штука.
    Я думаю, это напоминает коммуналку. Номера
    по многу людей (в нашей было 3 двухэтажных кровати), общая кухня и ванных комнаты
    две.
    Когда большой группой, то это проходит, выходит задорно.</p>

<p>Спалось хорошо, всталось легко.
</p>

<p class="green">Люди так или иначе чужие, да и вообще я ни при ком ранее не
    медитировал, поэтому утреннюю медитацию пропустил, к тому же нас ожидалось много
    йоги, ощущение было, что наверстаем с лихвой).</p>

<p>Есть то ли не хочется, то ли челюсть болит.
    Мысль о жевании
    отбивает любое желание питаться, но не то чтобы прям сильно болит,
    но... </p>

<p>Боль вроде нормальная, заживаю.
</p>

<%- include('../img_block', {url:"IMG_20180910_060015.jpg",article}) %>

<p>О чём я думал всё это время? Да ни о чём.
    Экстрима нет,
    всё очень ровно и спокойно. Работать не тянет, от «безтеатралья» не ломает. Но
    увидел ранним утром на столе начатый и брошенный, одиноко лежащий сырок, и
    почувствовал, что это хорошее что-то... то ли недошанс: типа таки добрался,
    начал есть, но уже было поздно. В общем, творческое видится. </p>

<p>Сейчас в хостеле суета, скоро стартуем. На кухне что-то
    разогревается, шумят тарелки, болтаются.
</p>

<p>Что ещё написать? Все собираются, а у меня мысль: что со
    мной не так — мне вообще нечего собирать).</p>

<p>Сели в машины, доехали до общего места сбора.</p>

<p>Людей много, и даже есть молодые))).
    Видно, что кое-кто друг
    друга уже знает. Атмосфера доброжелательная. Подъехали два двухэтажных
    автобуса, мы загрузились.</p>

<p>Сел я очень удачно.
    Позади сидела Ирина, Ася, сбоку — Оля с
    дочкой Варварой, а Мукти уже читала книгу.</p>

<p>По сути, друг друга не зная, как-то быстро расшутились...
    что-то было про тварь... а-а-а, как бы универсально называть существо, в частности
    человека женского пола.
    Сошлись на том, что «тварь» — самое то, ну т. е. божья
    тварь, конечно же.
    Речь была про Мукти, она, улыбаясь, согласилась, что это
    оптимально.
    Так и поехали в шутейках и толканиях с Варваркой (с девчонкой лет 5
    очень приятно иногда потолкаться).
    Мой сосед подобное выдержать не смог, сбежал
    куда-то вглубь автобуса.
    Ехать часа 4, но с такой компанией хоть 24))).</p>

<p>Не знал, но в туристических автобусах есть ритуал.
    Каждый
    час-полтора он останавливается где-то у магазина, и все бегут что-то покупать —
    ничего человеческого йогам не чуждо.
    Обязательно что-то съедобное, и есть, есть,
    есть.
    Я ничего не покупаю, и ощущение, что я прям ненормальный!
    И вот уже
    вторая остановка у магазина, дети с шоколадками, на первой все ели кукурузу.</p>

<p>Я не завтракал, место у зуба болит, и жевать до сих пор не
    хочется.
    Очень хочется горячего супчика... говорят, нас покормят, лишь бы что-то
    помягче).</p>

<p>Едем в горы, очень похоже, как ехать на Чарвак (водохранилище
    рядом с Ташкентом, тоже в горах), только всё длиннее и больше.
    Дорога хорошая,
    говорят, новая — делали китайцы.</p>

<p>Есть среди нас прям похожие на йогов), а есть такие, что ни в жизни
    не сказал бы.</p>

<p>Ехали-ехали, и вот мы приехали!</p>

<%- include('../img_block', {url:"IMG_20180910_132259.jpg",article}) %>

<p>Выгрузили нас, такая большая толпа.
    И знал человека четыре
    из них я тогда, а сейчас так приятно разглядывать знакомые спины))). И о
    счастье: организатор объявил, чтобы быстренько сейчас заселялись и на обед!</p>

<p>Вот такие апартаменты! Я ужасно доволен.
    Кровать снова
    огромная просто! На кого она рассчитана? Точно не на йога, может, для трёх молодых
    одновременно). Сразу же познакомились с однокомнатниками. Эдуард из России,
    Гурудипа из Казахстана. Видно сразу, что парни хорошие, глаза чистые.</p>

<p>И бежим кушать.
    Большая столовая, что легко нас всех смогла
    поместить.
    Было как-то очень необычно поначалу — просто подходить и брать еду,
    за просто так).
    Жидкий супчик хороший, второе — как я обычно делаю: овощи крупно,
    даже сладкое из творога и стружек кокосовых.</p>

<p>Очередь все соблюдают.
    А вклинишься нечаянно вперёд и
    говоришь: «Ой, это вы же тут стояли, простите», а тебе отвечают: «Ничего-ничего»,
    и даже улыбнутся.
    В общем, не общество, а сказка.</p>

<p>Отдыхать так отдыхать — после обеда купания в Иссык-Куле.
    Озеро или море (кто как хочет называет) приятное, от солёности вода вроде
    обжигает, но потом как-то принимает, и не холодно.
    В общем, кайф, ещё солнышко
    грело так хорошо.</p>

<p>А потом, в общем-то, и начался ретрит)))).</p>
