<p>Летний ретрит в йога-центре вдохновил инициировать организацию ташкентского мини-ретрита в горах.</p>

<%- include('../img_block', {url:"im_10.jpg",article}) %>

<p>Ретрит — это когда люди уезжают из городов, собираются где-то на природе и практикуют йогу.</p>



<p>Давно такого не делали (хотя может быть вообще не делали). Захотелось не просто сходить с йогами в горы, а сформировать программу, найти волонтёров, пригласить учителей, в общем всё как у настоящих ретритов (но только на два дня).</p>
<p>Договорились, кто будет готовить, определились со списком вещей и продуктов, договорились о транспорте и так далее.</p>
<p>В общем, всё организовалось...</p>
<%- include('../img_block', {url:"im_01.jpg",article}) %>


<p>Собралось в итоге на данное испытание 14 взрослых и одна девочка. Из них 10 йогов, 4 новичка и девочка.</p>

<p>За день до выезда группой инициативных был сделан закуп вещей, продуктов, собраны по всем друзьям палатки и спальники. К утру (6:00) всё было готово, все были готовы. Мы сели в маршрутку и наш путь начался.</p>

<%- include('../img_block', {url:"im_03.jpg",article}) %>

<p>Поездка в маршрутке (а до гор ехать нам около двух часов) с хорошими людьми превращается в одно удовольствие. Сразу же начали знакомиться и тут же играть. Время летит незаметно.</p>

<%- include('../img_block', {url:"im_02.jpg",article}) %>
