<p>
    Да, порой я рисую.
    Раньше делал это чаще, а сейчас, прямо скажем, редко.
    Раньше рисовал чаще карандашом, сейчас — на цифровом планшете,
    оттого картинки стали цветнее.
    Мне нравятся мои картинки — не в том смысле, что я считаю их сверхталантливыми, нет)))).
    Просто каждый раз, когда случается пересматривать их,
    они меня всегда затягивают линиями, тенями, воспоминаниями.
    Особенно мне нравятся названия — они порой лучше самой картинки.
    Коллекция насчитывает более 100 картинок, я выложил тут те, что кажутся мне более интересными.
</p>


<%
    const json_str = {
	"data": [
	    {
        "y":"01",
        "name": "Плоть",
        "url":"img_001.jpg"
    },
    {
        "y":"01",
        "name": "Сила",
        "url":"img_002.jpg"
    },
    {
        "y":"01",
        "name": "ДикооБраз",
        "url":"img_003.jpg"
    },
    {
        "y":"01",
        "name": "Ты думала Я человек, а я оказывается",
        "url":"img_004.jpg"
    },
    {
        "y":"01",
        "name": "Баламут. Но не поймут",
        "url":"img_005.jpg"
    },
    {
        "y":"01",
        "name": "Лейди",
        "url":"img_006.jpg"
    },
    {
        "y":"01",
        "name": "Гитара с душой",
        "url":"img_007.jpg"
    },
    {
        "y":"02",
        "name": "-",
        "url":"img_008.jpg"
    },
    {
        "y":"02",
        "name": "На белом Фоне",
        "url":"img_009.jpg"
    },
    {
        "y":"02",
        "name": "Терминатор",
        "url":"img_010.jpg"
    },
    {
        "y":"02",
        "name": "Переплетения",
        "url":"img_011.jpg"
    },
    {
        "y":"02",
        "name": "Вот это высота!",
        "url":"img_012.jpg"
    },
    {
        "y":"02",
        "name": "Маски, а за ними какие-то крылья",
        "url":"img_013.jpg"
    },
    {
        "y":"02",
        "name": "Простое чудо",
        "url":"img_014.jpg"
    },
    {
        "y":"02",
        "name": "Храм слёзосбора",
        "url":"img_015.jpg"
    },
    {
        "y":"02",
        "name": "Все видно (Только на темном, хотя бывает не видно темное, но из этого можно делать выводы)",
        "url":"img_016.jpg"
    },
    {
        "y":"02",
        "name": "Создатель и (Ну что Велик Я Иль Я умещаюсь в тех, которых ты давишь каждый день ногами)",
        "url":"img_017.jpg"
    },
    {
        "y":"02",
        "name": "Храм Тьмы и Света",
        "url":"img_018.jpg"
    },
    {
        "y":"02",
        "name": "Да будет услышан крикун, ибо Он одинок ( Всем собеседникам ночи посвещается )",
        "url":"img_019.jpg"
    },
    {
        "y":"02",
        "name": "Запоминай Я замер (Красив? Или тебе не все видно)",
        "url":"img_020.jpg"
    },
    {
        "y":"02",
        "name": "Незнающий лучшего ( А кто скажет, что он не счастлив )",
        "url":"img_021.jpg"
    },
    {
        "y":"02",
        "name": "Приближение",
        "url":"img_022.jpg"
    },
    {
        "y":"02",
        "name": "Заростающий",
        "url":"img_023.jpg"
    },
    {
        "y":"02",
        "name": "Оберегай её, ведь она еще растет",
        "url":"img_024.jpg"
    },
    {
        "y":"02",
        "name": "Фонарик",
        "url":"img_025.jpg"
    },
    {
        "y":"03",
        "name": "Не открывай ему глаза, видешь он улыбается и ничего тебе не сделал",
        "url":"img_026.jpg"
    },
    {
        "y":"04",
        "name": "Натюрморт в черном",
        "url":"img_027.jpg"
    },
    {
        "y":"04",
        "name": "Оно оденется и ты не увидешь ни слез ни крыльев. Если Ты умеешь все это снять, уйди оно тебя боится",
        "url":"img_028.jpg"
    },
    {
        "y":"04",
        "name": "ОЙ, Ой. И сново чудо! Возрождение",
        "url":"img_029.jpg"
    },
    {
        "y":"04",
        "name": "Странно это у них получается. Да, Я говорю тебе про любовь",
        "url":"img_030.jpg"
    },
    {
        "y":"05",
        "name": "Механиз и жизнь его - любовь",
        "url":"img_031.jpg"
    },
    {
        "y":"05",
        "name": "Разабраться бы где это спрятано",
        "url":"img_032.jpg"
    },
    {
        "y":"05",
        "name": "Красотка с окружением",
        "url":"img_033.jpg"
    },
    {
        "y":"05",
        "name": "Коцанный до сглаживания",
        "url":"img_034.jpg"
    },
    {
        "y":"07",
        "name": "Чёрный аист",
        "url":"img_035.jpg"
    },
    {
        "y":"07",
        "name": "A!!!",
        "url":"img_036.jpg"
    },
    {
        "y":"07",
        "name": "Сильный и инструмент управления",
        "url":"img_037.jpg"
    },
    {
        "y":"08",
        "name": "Теперь Мы с тобой Единое - что сказать странное нечто",
        "url":"img_038.jpg"
    },
    {
        "y":"09",
        "name": "Путь в гости не прост и жудко формален",
        "url":"img_039.jpg"
    },
    {
        "y":"09",
        "name": "Сны проглатившие реальность",
        "url":"img_040.jpg"
    },
    {
        "y":"10",
        "name": "Одна верёвочка управляет этим самосваликом",
        "url":"img_041.jpg"
    },
    {
        "y":"11",
        "name": "Открываем - свет - о ужас - Основаный на Страхе",
        "url":"img_042.jpg"
    },
    {
        "y":"11",
        "name": "Найти Уголок",
        "url":"img_043.jpg"
    },
    {
        "y":"12",
        "name": "Как то это всё",
        "url":"img_044.jpg"
    },
    {
        "y":"12",
        "name": "Мне бы не дотянуться. Мне бы схватиться. Как же достала эта короткорукость",
        "url":"img_045.jpg"
    },
    {
        "y":"18",
        "name": "Женское",
        "url":"img_046.jpg"
    },
    {
        "y":"14",
        "name": "Что не добавляй, а в итоге толи хорошо, толи плохо",
        "url":"img_047.jpg"
    },
    {
        "y":"14",
        "name": "Если вам не в дыру то вам туда",
        "url":"img_048.jpg"
    },
    {
        "y":"14",
        "name": "и помоему каждый уже спросил - что же будет дальше - РАСВЕТ",
        "url":"img_049.jpg"
    },
    {
        "y":"14",
        "name": "Необычный этюд",
        "url":"img_050.jpg"
    },
    {
        "y":"16",
        "name": "Блуждающий (да и не то что бы в темноте)",
        "url":"img_051.jpg"
    },
    {
        "y":"17",
        "name": "Дыра",
        "url":"img_052.jpg"
    },
    {
        "y":"17",
        "name": "То что нужно было мне сейчас",
        "url":"img_053.jpg"
    },
    {
        "y":"18",
        "name": "Пошли! Да я уже устремился",
        "url":"img_054.jpg"
    },
    {
        "y":"18",
        "name": "Пожужим",
        "url":"img_055.jpg"
    },
    {
        "y":"18",
        "name": "Междунебье",
        "url":"img_056.jpg"
    }




	]
};

    for (const el of json_str.data) {
        %>
    <div class="imgWithTitle">
        <%- include('../img_block', {url:el.url,article}) %>
        <div class="img_title">
            "<%= el.name %>"
            <b>20<%= el.y %> год</b>

        </div>
    </div>




<%
    }
%>


