<p>Затем ровным потоком мы двигались к столовой.
    Выделялся
    целый час на завтрак.</p>

<p>Столовая была просто замечательная.
    Еда строго вегетарианская,
    даже с йоговскими ограничениями (ни лука, ни чеснока, даже чая — заваривали цикорий
    или травяной чай).
    Даже были специальные блюда для сыроедов.
    Еда как по мне была очень вкусная. Порции такие, что точно-точно
    хватало не проголодаться до следующего приёма пищи.</p>

<p>Время в столовой было для меня особенным, ведь я люблю
    слегка поболтать, а за столом собирались просто замечательные люди.
    Да ещё мы
    были в одной теме.
    Час пролетал так приятно и так незаметно, благо после еды
    было всегда что-то интересное, а потому не так тяжело было уходить.</p>

<p>После завтрака мы получали лекцию от ачарьев (наставников).
    Это всегда было очень интересно. Поднимались вопросы по поводу практики и всего
    такого. Лекторы просто замечательные!
    Харизмы у монахов хоть отбавляй).</p>

<p>И снова коллективная медитация, и снова кайф!</p>

<p>И вот уже обед.
    И снова замечательное общение.</p>

<img src="/cont/20180908_retrit_issyk-kul/IMG_20180915_202716.jpg">

<p>Ни разу не
    было такого, что обедать было скучно.
    Диди и Дады обедали вместе со всеми. Они
    выбирали себе место, как я понимаю, случайно, чтобы по возможности посидеть со
    всеми.
    Сидящие рядом задавали вопросы, начинались беседы. Атмосфера позитивнее
    некуда.
    Можно было ходить и желать всем приятного аппетита, а тебе отвечали с
    улыбкой — я так делал, не отказывал себе в удовольствии).</p>

<p>После обеда — полтора часа свободного времени.
    Что я обычно
    делал в это время — как-то даже так с лёту и не вспоминается).
    Ходил на море с
    кем-нибудь, читал стихи кому-нибудь, проходил лабиринт (об этом позже).
    Но чаще
    в это время у нас были какие-то мероприятия: поездка в горы, кажется, уборка и...
    В общем, об этом ниже).</p>

<p>После — снова асана-класс. За время ретрита было интересно
    получить занятия от разных учителей.
    Каждый отличался друг от друга — не кардинально
    (не считая смехо-йогу, или, как я это назвал, — «ха-ха-йогну»), лишь в некоторых деталях,
    но этого хватало, чтобы было ощущение своего стиля.</p>

<p>После физического развития — сразу духовное развитие: 55 минут
    коллективной медитации.</p>

<p>А после — ужин.</p>

<p>После ужина у нас были интересные лекции от Арджундева и не
    только.
    Очень полезное время.</p>

<p>А после — короткая медитация: 15 минут аварта-киртана и 10
    минут медитации.</p>

<p>В 22:30 — отбой.
    Особо погулять перед сном не тянуло, ведь с
    утра нужно было вставать в 4:15, а это ещё то испытание.
    Засыпалось всегда
    очень быстро, спалось хорошо, вставалось не так легко, как хотелось).</p>

<h3>Ещё немного о первом дне</h3>

<p>После обеда было открытие ретрита.
    Нам рассказали, что мы будем делать.</p>

<p>Йога йогой, но такое количество людей надо как-то
    организовывать, т. е.
    чтобы все не свалялись мелкими группками, которыми
    приехали).
    Поэтому нас случайным образом
    разбили на… не помню сколько групп, штук шесть, кажется.
    Всем раздали бейджики, на которых мы написали свои имена
    (чтобы было легче знакомиться), а также к какой группе человек принадлежит.
    К
    каждой группе был приставлен куратор.</p>

<p>Добавили некий стимулирующий соревновательный момент.
    Первое — рассказали, что будут считать, сколько человек встаёт к 5 утра — это
    будет фиксироваться, и в конце определится, чья группа вставала лучше всех.
    Этой
    группе в конце обещали сладкий подарок и 10% скидку на следующий ретрит.</p>

<p>Я не то чтобы загорелся от этого, так как вставать и
    собирался без дополнительных стимулов).</p>

<p>Второе, что предложили, — это придумать каждой группе
    служение и реализовать его.</p>

<p>Тут нужно раскрыть смысл понятия «служение». Как я понял, это то, что ты делаешь от чистой души в помощь кому-либо просто так, даже не за «спасибо». </p>
<p>Если ты пожелал благодарности, то это уже не служение. Главный посыл служения — помогать всем по возможности и по личному искреннему желанию. </p>
<p>Не буду перечислять все возможные служения, расскажу, что я планирую делать (пока планирую, кто знает, как это продолжится). Я хочу попробовать чистить улицы от мусора, хотя не только улицы — каналы, речки, горы и так далее. </p>
<p>И при этом собранный мусор стараться сдавать на переработку. Т.е. пластик, металл, стекло отдельно, чтобы мусора было меньше не только на улицах, но и на свалках. Дома хочу так же разделять мусор. </p>
<p>В общем, это в разработке, но идея такая: чтобы сделать мир чище, надо начать с себя, и я начну. </p>
<p>Ещё одно служение — это практиковать йогу, рассказывать о ней всем желающим и своим примером показывать, как это здорово — оказывается, это тоже служение. </p>
<p>Ну и вообще, поглядим, что можно будет поделать ещё. Вообще, именно на ретрите я как-то доосознал, что йог — это не тот, кто делает асаны и сидит в лотосе дома у себя и никому ничего, а тот, кто главной целью своей видит создание добра на всём свете. </p>
<p>Он-то и следит за собой для того, чтобы побольше смочь сделать. Это осознание пришло от примера самих Дад и Диди. Ведь они ушли в монахи лишь для того, чтобы служить всему человечеству, и ты прямо видишь, как они стараются, и реально просто так! </p>
<p>У них же ничего нет, лишь самое необходимое для жизни и работы, всё остальное они отдают. Это очень впечатляет, вдохновляет, и я думаю, будет вдохновлять меня делать служение (а не только писать о том, что я буду делать его). </p>
<p>И да, мы придумали служения для себя. Решили вставать ещё раньше и ходить полчасика будить всех людей пением киртана. </p>
<p>И да, мы даже сделали это один раз! А дальше как-то похолодало, и мы решили, что утром петь в холод небезопасно для нашего горла, и мы перестали. </p>
<p>Мы ещё придумали служение, и другие придумали и реализовывали задуманное, и это было здорово! Не знаю, возможно, что-то из того я опишу ниже, а может, и нет. </p>
<p>В столовой нам предложили садиться группами, чтобы знакомиться и делиться идеями. Как и всем, мне с группой очень повезло, и мы быстро перезнакомились. </p>
<p>В общем, пока слегка мы разрознены и мало понимаем, куда это всё приведёт. Но люди хорошие, это как-то видно, чувствуется. </p>
<p>Я пока очень закрыт, хотя и общителен; при медитации голова болит, но я надеюсь, это первый блок. </p>
<p>Завтра подъем в 4:30, думаю сигануть в Иссык-Куль до начала. Да, я так подумал перед сном. А проснувшись утром и вспомнив о желании, подумал — а нафига? </p>
<p>Сейчас прямо вообще не хочется никуда сигать, хочется полежать в кроватке под одеяльцем. И я не побежал на озеро, а вместе со всеми пошёл петь киртан по холодку. </p>
<p>Я таки добежал до озера, но уже после каошики и тандово, об этом я, в общем-то, писал ранее. </p>

<h3>Второй день</h3>
<p>Всё круто. Движение хорошее. </p>
<p>Разговаривал с Дадой Саданандой. Было неловко подойти и задать вопрос.
    Но он как-то располагал, что ли. Нужно было дождаться, пока он освободится.
    Потом можно было спокойно задавать что угодно, и он очень доброжелательно отвечал. </p>
<p>
    Очень было поначалу необычно: целый год он был лишь на экране, а теперь — перед тобой вживую, со своей харизмой.
    Отвечал он с полной серьёзностью, но как-то легко.
</p>

<p>
    Задав вопросы, я практически ответил сам на них. Ну, т. е. я, возможно, на них сам себе уже ответил ранее, но ответ меня не устраивал.
    А когда их озвучил Дада — тут уже никуда не деться, нужно будет выполнять через «силу», через «не хочу». Поглядим, как выйдет.
</p>

<p>
    Последним в тот раз был мой вопрос: <br>
    — Дада, почему же всё так тяжело, почему это не бывает попроще? <br>
    Он ответил: <br>
    — А ты вот когда в гору идёшь…
</p>

<p>
    В остальном — нашёл хороших людей. Вернее, все хорошие, но нашёл тех, кто со мной на одной волне (в этом я капризен).
    Есть с кем пообщаться между занятиями.
</p>

<p>
    Кормят хорошо и вкусно: на обед первое, второе, сладкое и компот. В остальные разы — одно блюдо.
</p>

<p>
    Дважды купался в море поутру и днём. Хожу в майке без рукавов, хотя многие в ветровках, при этом никогда не считал себя закалённым.
</p>

<p>
    В медитации раскрылся блок, что был вчера. В киртане начал чувствовать движение всех вокруг — это прогресс.
    Вообще началось погружение какое-то. Сознание отпускает, ощущения новые.
</p>


<h3>Вот ещё один день</h3>
<p>Главное — меня инициировали.</p>
<p>
    Что такое инициация в йоге? Расскажу, как это проходит технически, так как глубинные процессы описать просто не смогу, да и не нужно, я думаю, для большинства. Кто захочет — тот получит инициацию, так это работает. В общем, это личная беседа с Дадой.
</p>

<img src="/cont/20180908_retrit_issyk-kul/IMG_20180912_115910.jpg" alt="Юрта для личных бесед и инициации">

<p>
    Мы беседовали вот в такой юрте — очень укромное место, кстати сказать.
    Дада кое-что рассказывает и объясняет, потом даёт личную мантру и имя (некоторым сразу) и некие инструкции. Всё.
    Кровью нигде расписываться не требует, душу продать — тоже, вообще ничего не требует. Очень такой позитивный процесс.
</p>

<p>
    Но это если описывать сухо. На самом же деле во время беседы ощущалось что-то магическое. Не объяснить что, но что-то происходило на уровнях, которые мне не видны. Это было прикольно.
    Кому захочется подробностей — начинайте медитировать, и Дада встретится вам на пути, и вы поймёте, о чём я говорил, и не пожалеете.
</p>

<p>
    Медитация изменилась. Первая медитация после инициации была-а-а... мозговышибательная! После неё хочется ещё немного посидеть, отойти — и я сидел. Пока Мукти не подошла и не спросила: <br>
    — Всё нормально? <br>
    Я ответил: <br>
    — Да, — и мы пошли ужинать. <br>
    А было ощущение, что хочется плакать, но я не стал.
</p>

<img src="/cont/20180908_retrit_issyk-kul/IMG_20180916_074655.jpg" alt="">

<p>
    На днях лекцию давал Арджундева, в которой говорил о технике прощения. Практикуя её, можно простить кого угодно и тем самым отпустить. И в продолжение этой техники предложил пройти лабиринты.
</p>

<img src="/cont/20180908_retrit_issyk-kul/IMG_20180915_144305.jpg" alt="Лабиринты на территории комплекса">

<p>
    В общем, на территории комплекса располагаются два небольших таких лабиринта. Один женский, другой мужской. Отличаются они тем, что закручены в разные стороны относительно вращения Земли, или что-то такое.
</p>
<p>
    Как это всё работает: перед входом ты берёшь или камушек, или монетку. Выбираешь объект, который ты бы хотел простить. Предположим, бывшую, ну или отца, что бросил, или мать, что забрала ту самую конфетку — тех людей, которых ты реально не можешь простить уже давно. Если этот объект женского пола, то тебе в женский лабиринт, если противоположного… то… в общем, понятно.
</p>
<p>
    Идёшь ко входу и стартуешь. И на всём протяжении (он реально длинный) лабиринта произносишь про себя: «Прости меня, Юлечка», «Я прощаю тебя, Юлечка», «Спасибо тебе за всё, Юлечка» (ну, для примера Юлечка, никаких обид к Юлечке я не испытываю), при этом, конечно же, вкладываешь тот смысл и эмоции, о чём говоришь. В конце ты оставляешь то, что заготовил, и уходишь. Всё.
</p>
<p>
    Я проходил лабиринт дважды. С одного раза не проникся. А со второго — прямо ощутил, как же много во мне спрятано обид и как легко становится.
    Арджундев сказал, что после прощения в жизнь приходит доброе, обязательно, и я в это верю.
</p>
<p>
    В общем, тут многому учат, но в основном учат любви ментально... Любви к себе и любви ко всему на свете.
    Ощущение, что единение всё больше: люди здороваются, говорят доброе... мы становимся почуть-чуть дружнее.
</p>
