<h3>Путь до места.</h3>

<p>Началось всё с автовокзала.
    Очень легко всё нашлось. Возле
    автобуса собиралась группа людей, более или менее знакомых.</p>

<img src="/cont/20180908_retrit_issyk-kul/IMG_20180908_174207.jpg" />

<p>Я чужой, и мне от этого ни холодно ни тепло. На днях удалил
    зуб, слегка задели язык, болтать совсем не хотелось. Настроение бодрое, я
    уже на своём месте, нагло занял место у окна).</p>

<p>Автобус — это не самолёт, но иллюминаторы куда
    поприятнее). Благо я не двухметровый, страшно подумать,
    как им приходится, если даже мне некуда ноги девать. </p>

<img src="/cont/20180908_retrit_issyk-kul/IMG_20180908_174227.jpg" />

<p>В 18:00 спокойно стартанули,
    спокойно поехали.</p>

<p>По ходу придумал идею для этюда по Лёкоку.
    Очень рад, что эта привычка не отпускает меня).</p>

<p>И вот таможня Ташкент — Казахстан.
    Я вот первый раз ехал на
    автобусе и не знал, как всё это проходит).</p>

<p>Перед границей мы выгружаемся, берём ручную и неручную
    кладь, т. е.
    все такие со своими сумками и идём к таможенному контролю.</p>

<p>Проходим
    узбекскую границу, грузим вещи в автобус, грузимся сами, проезжаем 100 метров,
    выгружаемся полностью с вещами, проходим казахскую границу)))).
    Вот такое
    упражнение. Что хорошо — из 54 пассажиров наших, кажется, 32, а йоги, они ж и ругаются меньше и почти не пихаются в очереди (шучу — вообще
    не пихаются).</p>

<p>Полгода назад проходили границу
    сами, без автобуса, — кажется, мы прошли её быстрее.
</p>

<p>Граница пока кажется самым утомительным, но это пока)… я ж
    не знал, как это — ехать 12 часов в не самом удобном
    положении.
</p>

<p>Как я проспал 5,5 часов — не знаю... но факт. Было неудобно и
    где-то даже холодно.
    Я просыпался, чтобы перевернуться, освободить затёкшую
    руку, ногу. Разбудили нас на таможне.</p>

<p>И не нужно было даже времени на
    просыпание — как в армии по тревоге: раз-два, и мы уже с вещами на таможне. В
    общем, мы в Киргизии. В окна видны горы, светает).</p>

<p>Суммарно по границам ощущение нормальное.
    Таможенники хоть и
    сонные, но не грубые. Проходили медленно, но верно.</p>

<p>Ясное ощущение, что без тебя
    не уедут, оттого всё спокойно.</p>

<p>Не помню, сколько ещё ехали — часа два,
    наверное, а может, меньше.
    Я немного дремал, немного смотрел в окно. Горы
    очень мощные, но как-то далеко.</p>

<p>Рассвело, и мы уже на автовокзале в неизвестном пока городе
    Бишкеке.
    А там уже ждут нас машины (а я говорил, что Амалина
    просто чудо), мы грузимся и в хостел.</p>

<p>Хостел тоже чудесный. Я сейчас
    предупрежу, чтобы свыклись: было очень много чудесного или даже почти
    чудесного.
    Хостел чистый, аккуратный, вежливый, удобный. Кровать как две моих, и
    это одноместная.</p>

<p>Отправление намечено на раннее утро следующего дня, а потому
    можно было бродить по городу, что я и стал делать.
    Собрались мы было погулять
    группой, но как-то все разбрелись на первом же супермаркете).</p>

<img src="/cont/20180908_retrit_issyk-kul/IMG_20180909_105420.jpg" />

<p>Центральная площадь просторная, есть вымпел с огромным флагом
    и почётным караулом (но их я не сфоткал).</p>

<img src="/cont/20180908_retrit_issyk-kul/IMG_20180909_150222.jpg" />

<p>Нашёл один памятник белому мужчине на коне.
    Это оказался Михаил Фрунзе — как мне потом рассказала Ирина, Бишкек назывался Фрунзе (вот как).</p>

<img src="/cont/20180908_retrit_issyk-kul/IMG_20180909_143408.jpg" />

<p>На центральных аллеях и в парках стоит очень много памятников.
    В основном это мужчины, хотя тут задумался, есть ли там вообще памятники
    женщинам — не помню. </p>

<p>На этой площади, как ни странно, вечером молодые люди (парни
    и девчонки) играли в мяч. Да, вставали в круг и давай перебрасывать
    волейбольный мяч. И такое
    я видел не раз — у нас такого не видел). Но приятно, что ребятки как-то за спорт!</p>

<img src="/cont/20180908_retrit_issyk-kul/IMG_20180909_143152.jpg" />

<p>Вот такая вот
    реклама с неприличным предложением, хотя вроде
    незадорого.
    Но я не воспользовался, я выше этого))).</p>

<img src="/cont/20180908_retrit_issyk-kul/IMG_20180909_140117.jpg" />

<p>Мечети имеют несколько другой вид, чем у нас, и похожи на
    мечети, что я видел в Алма-Ате. </p>

<img src="/cont/20180908_retrit_issyk-kul/IMG_20180909_134332.jpg" />

<p>И вот ещё вот такие мечети — большие.
</p>

<img src="/cont/20180908_retrit_issyk-kul/IMG_20180909_134958.jpg" />

<p>Как уже писал выше, как только отходишь от центра, город
    начинает сереть. Фасады домов серые — то ли они были такими сразу, то ли стали
    грязными.</p>

<img src="/cont/20180908_retrit_issyk-kul/IMG_20180909_140113.jpg" />

<p>Порой дороги уж очень
    грустные.
    И это совсем недалеко от центра.</p>

<p>А вообще много парков в
    центре города. И они очень приятные.
    Скамейки там-сям, на них сидят молодые
    пары, даже целуются. Видел, как группа девчонок репетировала танец.

</p>
<img src="/cont/20180908_retrit_issyk-kul/IMG_20180909_131452.jpg" />
<p>Побродил по городу — ну что сказать: пока центрее, то довольно бодро и очень зелено, а чуть поодаль —
    дома прям грязно-серые, деревьев нет, дороги убитые и прям как-то удручает.
    Но вдруг — хорошая дорога и деревья, и снова приятное впечатление.</p>

<p>На обратном пути мы тоже гуляли по городу. И в целом я могу
    сказать, что центр города Бишкек мне очень понравился. Очень аккуратно и
    приятные люди, довольно много людей. Киргизки прям симпатичные, я и не думал
    даже. Хотя большинству кажется не больше 20 —
    может, после они уезжают в
    обязательном порядке, не знаю. Особенность ещё в том, что девушки не отводят
    взгляда, и это очень приятно. Также говорят, что они очень легко общаются, но
    я как-то не проверил). Пацанов будто совсем мало, ну
    или я на них не обращаю внимания. Центр весь такой живой, но маленький — чуть
    ли не два-три перекрёстка. Как-то мало для столицы.</p>

<p>Впечатление от города — городок
    очень милый такой.</p>

<p>В общем, нагулялся, ноги даже гудят.</p>

<p>Купил еды, пошёл в хостел, там порисовал,
    немного пообщался, туда-сюда — и спать). </p>
