
<%- include('../block_quote',{
title:"Слишком многие хотят кем-то быть,<br> и лишь единицы хотят кем-то стать",
author_name:"Эрих Фромм",
}) %>

<h3>Шесть шагов</h3>

<ol class="steps__list">

    <li class="step">
        <strong class="title">Формулируем желание</strong>
        <p>Тут мы определяем цель чувственно, через искреннее желание — я хочу! Без каких-либо ограничений.</p>
        <p class="example">
            пример
        </p>
    </li>
    <li class="step">
        <strong class="title">Формирование запроса</strong>
        <p>Запрос это по сути своей тоже желание, но только сформулированное более чётко (соблюдая ряд рекомендаций). Но важно, чтобы запрос продолжал резонировать тебе так же как и само желание, а может и больше)</p>
        <p>Запрос это, как бы, констатация факта — чего я хочу достичь по окончанию всех работ. Дальше мы работаем с запросами, а не желаниями. В нём есть что-то проактивное.</p>
        <p>Мы всегда начинаем с формирования запроса (стратегии пока забываем). И это искусство. Хороший запрос (искренний), это уже 80% успеха.</p>
        <h5>Есть ряд рекомендаций по формированию запроса:</h5>
        <ul class="list_l2 darkBlue">
            <li>это позитивное предложение (вот тут уже мы раскрываем все НЕ в конструктив)</li>
            <li>присутствует глагол в настоящем времени, будто это уже сейчас (стою, имею, наблюдаю, содействую, взаимодействую)</li>
            <li>он связан лично со мной — это я стою, я имею, я наблюдаю</li>
            <li>лаконичность — это одно чёткое предложение, желательно, чтобы звучало звонко как боевой клич — я стою на вершине горы! я осознаю своё совершенство!</li>
        </ul>
    </li>

    <li class="step">
        <strong class="title">Мыслескульптура — налаживание связи с запросом</strong>
        <p>Ты представляешь себе, что прошло некоторое время (хорошо бы определить примерно когда это сбудется), и запрос реализовался.</p>
        <p>Сделать мыслескульптуру — ты там — что я чувствую? как я себя ощущаю?</p>
        <p>Лепим скульптуру минут 5–10 (хорошо бы поставить таймер)</p>
        <p>И отвечаем себе на вопрос — как я пойму, что вопрос реализовался?</p>
        <p>Доп. вопросы:<br>
            Хорошо, тебе нравится там? Тебе хочется туда?<br>
            Ты готов за это отдать что-то старое из своей жизни за это?</p>
    </li>

    <li class="step">
        <strong class="title">Список стратегий (мозговой штурм)</strong>
        <p>Коучинг утверждает))) — если в тебе есть запрос, значит и ответ в тебе уже есть! Вот такой закон природы)))</p>
        <p>И осталось лишь найти его в себе.</p>
        <p>Как это делаем мы — устраиваем мозговой штурм. Это значит, что мы накидываем разные варианты стратегий — возможные и невозможные, трудные и лёгкие. На этом этапе мы ещё не думаем как мы будем это делать. Пока мы только составляем список (будто делать его будет кто-то совсем другой)))) )</p>
        <p><span class="important">ВАЖНО:</span></p>
        <ul>
            <li>Стратегии связаны непосредственно с запросом. Даже если это прилетели инопланетяне, то как это поможет с моим запросом?</li>
            <li>Мы составляем список из 15–25 вариантов, очень хорошо подключать друзей</li>
            <li>5–10 стратегий накидываем «бредовых», но точно отвечающих на запрос. К примеру, если запрос «Я обладаю силой», то можно предложить — «стать спайдерменом». Это расширяет границы нашего мировоззрения, и даёт хорошие идеи порой.</li>
            <li>После формирования списка, мы его сортируем по актуальности, важности. Чтобы сверху было самое, а дальше по убывающей</li>
        </ul>
    </li>

    <li class="step">
        <strong class="title">Выбор стратегии</strong>
        <p>Список случился очень даже большой — воистину ответы в тебе есть. И их намного больше, но мы уже готовы к следующему шагу.</p>
        <p>Мы выбираем «первую стратегию» — это самый первый шаг в активном движении к цели. И важно его сделать верно и чутко. Два критерия для этого:</p>
        <ul>
            <li>выбираем стратегию/задачу по своим ресурсам. Если у меня куча ресурсов, то я берусь за первую задачу списка. Если не слишком много ресурсов, то выбираем стратегию на которую нас хватит, которую мы сможем делать уже сейчас</li>
            <li>Тут мы снова включаем режим "малые шаги"</li>
            <li>делать эту задачу регулярно (спланированно — каждый день, через день (но точно), чётко по вторникам)</li>
            <li>как задача выполнена мы смотрим: что я чувствую при этом? как это изменило ситуацию с запросом? как изменило моё отношение к запросу? насколько я был заряжен делать это?</li>
        </ul>
        <p>А дальше берём ещё одну задачу, и делаем всё также (можно вернуться к 4-му этапу)</p>
        <p><strong>Критерии для задач:</strong> формулируем в форме «Сделать К» — чётко, что я Сделаю, и К какому сроку — записываем задачу, указываем срок.</p>
        <p><span class="important">СУПЕР ВАЖНО</span> — посмотреть — внесёт ли эта задача что-то новое в мою жизнь? Ведь что я делаю сейчас, привело к тому, что есть сейчас. Для того чтобы получить новое, я поступаю по-новому.</p>
    </li>

    <li class="step">
        <strong class="title">Новая задача или закрытие запроса</strong>
        <p>После выполнения задачи, у нас несколько вариантов развития:</p>
        <ul>
            <li>Если есть ощущение, что запрос удовлетворился, то мы закрываем запрос — ставим так сказать галочку у себя в голове (и переходим к другому запросу, но это по желанию)</li>
            <li>Если не удовлетворился, то есть варианты:
                <ul>
                    <li>вернуться ко 2-му шагу, и проверить насколько актуальный запрос — хочется ли его немного уточнить или даже изменить, а дальше вниз по этапам</li>
                    <li>вернуться к 4-му шагу и поделать ещё мозгоштурм</li>
                    <li>просто вернуться к 5-му шагу и выбрать новую задачу</li>
                </ul>
            </li>
        </ul>
        <p>И так до тех пор, пока запрос не закроется )))</p>
    </li>
</ol>


