
<%- include('../block_quote',{
title:"Слишком многие хотят кем-то быть,<br> и лишь единицы хотят кем-то стать",
author_name:"Эрих Фромм",
}) %>

<h3>
    Вступление
</h3>
<p>
    Почему первые шаги часто ведут в никуда?
    Когда нет чёткой структуры движения, вы хватаетесь за первые попавшиеся стратегии (марафоны, жесткие диеты, случайные упражнения).
    В итоге усилия тратятся впустую, энергия иссякает, а результат оказывается нулевым или временным.
    Это происходит потому, что ваш мозг не видит связи между «жертвами» сегодня и «наградой» в будущем.
</p>
<p>
    Когда мы делаем чётки шаги, один за другим, появляется ясность, спокойствие, вдохновение.
</p>

<h3>Шесть шагов</h3>

<ol class="steps__list">

    <li class="step">
        <strong class="title">Формулируем желание</strong>
        <p>Тут мы определяем цель чувственно, через искреннее желание — я хочу! Без каких-либо ограничений.</p>
        <p class="example">
            🔸Я хочу похудеть на 15 кг. <br>
            🔸Я хочу зарабатывать много денег.<br>
            🔸Я хочу помириться с девушкой.<br>
            🔸Я хочу чтобы моя мама выздоровела.
        </p>
    </li>
    <li class="step">
        <strong class="title">Формирование запроса</strong>
        <p>Запрос это по сути своей то же желание, но только сформулированное более чётко (соблюдая ряд рекомендаций).
            Но важно, чтобы запрос продолжал резонировать в вас так же как и само желание, а может и больше)</p>
        <p>Запрос это, как бы, констатация факта — чего я хочу достичь по окончанию всех работ.
            Дальше мы работаем с запросами, а не желаниями.
            В нём есть что-то проактивное.</p>
        <p>Мы всегда начинаем с формирования запроса (стратегии пока забываем).
            И это искусство.
            Хороший запрос (искренний), это уже 80% успеха.</p>
        <h5>Есть ряд рекомендаций по формированию запроса:</h5>
        <ul class="list_l2 darkBlue">
            <li>это позитивное предложение (вот тут уже мы раскрываем все НЕ в конструктив)</li>
            <li>присутствует глагол в настоящем времени, будто это уже сейчас (стою, имею, наблюдаю, содействую, взаимодействую)</li>
            <li>он связан лично со мной — это я стою, я имею, я наблюдаю</li>
            <li>лаконичность — это одно чёткое предложение, желательно, чтобы звучало звонко как боевой клич — я стою на вершине горы! я осознаю своё совершенство!</li>
        </ul>
        <p class="example">
            🔸Я достигаю веса 65 кг к лету. <br>
            🔸Я зарабатываю 1000 долларов в месяц. <br>
            🔸Я живу со своей девушкой в мире и согласии. <br>
            🔸Я способствую полному выздоровлению мамы.
        </p>
    </li>

    <li class="step">
        <strong class="title">Мыслескульптура — налаживание связи с запросом</strong>
        <p>Ты представляешь себе, что прошло некоторое время (хорошо бы определить примерно когда это сбудется), и запрос реализовался.</p>
        <p>Сделать мыслескульптуру — ты там — что я чувствую? как я себя ощущаю?</p>
        <p>Лепим скульптуру минут 5–10 (хорошо бы поставить таймер)</p>
        <p>И отвечаем себе на вопрос — как я пойму, что вопрос реализовался?</p>
        <p>Доп. вопросы:<br>
            Тебе нравится там? Тебе хочется туда? Ты готов за это отдать что-то старое из своей жизни за это?</p>
        <p>
            Тут хорошо составить список моментов, что вы увидели, от 10 и более пунктов. Чем больше вы пропишете пунктов, тем лучше связь с запросом.
        </p>
        <p class="example">
            Я зарабатываю 1000 долларов в месяц, и ...<br>
            1. Начинаю ощущать себя в безопасности.<br>
            2. У меня начинаю появляться накопления.<br>
            3. Я регулярно езжу отдыхать за границу.<br>
            4. Я покупаю новый велосипед из карбона за 1000+ долларов.<br>
            5. и т.д.
        </p>
    </li>

    <li class="step">
        <strong class="title">Список стратегий (мозговой штурм)</strong>
        <p>Коучинг утверждает))) — если в тебе есть запрос, значит и ответ в тебе уже есть! Вот такой закон природы)))</p>
        <p>И осталось лишь найти его в себе.</p>
        <p>Как это делаем мы — устраиваем мозговой штурм. Это значит, что мы накидываем разные варианты стратегий — возможные и невозможные, трудные и лёгкие. На этом этапе мы ещё не думаем как мы будем это делать. Пока мы только составляем список (будто делать его будет кто-то совсем другой)))) )</p>
        <p><strong class="darkBlue">ВАЖНО:</strong></p>
        <ul class="list_l2 darkBlue">
            <li>описание стратегии начинается с глагола в неопределённой форме - "сделать сайт визитку", "сесть на кетто диету"</li>
            <li>Чтобы стратегии потенциально могли реализовать запрос в той или иной мере.
                Вопрос для проверки - как это поможет с моим запросом?
                И если прилёт инопланетян может помочь с запросом, то вписываем.
                </li>
            <li>Мы составляем список из <strong>15–25 вариантов</strong>. Если самим не получается, начинаем подключать друзей и ИИ</li>
            <li>добавляем 5–10 стратегий «бредовых», но точно помогающих запросу.

                <p class="example">
                    "Стать спайдерменом" - поможет это мне зарабатывать 1000 д/м? - не уверен.<br>
                    А вот "задружиться с Илоном Маском" - вполне может
                </p>


                Это расширяет границы нашего мировоззрения, и даёт хорошие идеи порой.</li>
            <li>После формирования списка, мы его сортируем по актуальности, важности. Чтобы сверху было самое, а дальше по убывающей</li>
        </ul>
    </li>

    <li class="step">
        <strong class="title">Выбор стратегии</strong>

        <p>Мы выбираем стратегию из списка — это самый первый шаг в активном движении к цели. И важно его сделать верно и чутко. Несколько рекомендаций для этого:</p>
        <ul class="list_l2 darkBlue">
            <li>выбираем стратегию/задачу по своим ресурсам.
                Если у нас куча ресурсов, то берёмся за первую задачу из списка.
                Если не слишком много ресурсов, то выбираем стратегию, на которую хватит сил, которую сможем делать уже сейчас</li>
            <li>включаем режим "малые шаги"</li>
            <li>делаем эту задачу регулярно (спланировано — каждый день, через день)</li>
            <li>постоянно наблюдаем за ощущениями:
                что я чувствую при выполнении?
                как это изменило ситуацию с запросом?
                насколько я заряжен продолжать?
            </li>
            <li>
                назначить срок исполнения
            </li>
        </ul>
        <p>Можно выбрать несколько стратегий в работу. Рекомендация - начинать с 1-3 задач</p>

        <p><strong class="important">СУПЕР ВАЖНО</strong> — посмотреть, внесёт ли эта задача что-то новое в мою жизнь?
            Ведь что я делаю сейчас, привело к тому, что есть сейчас.
            Для того чтобы получить новое, я поступаю по-новому.</p>
    </li>

    <li class="step">
        <strong class="title">Новая задача или закрытие запроса</strong>
        <p>После выполнения задачи, у нас несколько вариантов развития:</p>
        <ul>
            <li>Если есть ощущение, что запрос удовлетворился, то мы закрываем запрос.
                Ставим, так сказать, галочку у себя в голове (и переходим к другому запросу, но это по желанию)</li>
            <li>Если не удовлетворился:
                <ul  class="list_l2">
                    <li>вернуться ко 2-му шагу, и проверить насколько актуальный запрос — хочется ли его немного уточнить или даже изменить, а дальше вниз по этапам</li>
                    <li>вернуться к 4-му шагу и поделать ещё мозгоштурм</li>
                    <li>просто вернуться к 5-му шагу и выбрать новую задачу</li>
                </ul>
            </li>
        </ul>
        <p>И так до тех пор, пока запрос не закроется )))</p>
    </li>
</ol>


