<section class="technique">



    <%- include('../block_quote',{
            title:"Измените убеждения – и вы измените свою жизнь",
            author_name:"Б. Шефер",
            book_name:"Путь к финансовой свободе",
        }) %>

    <h3 class="steps__title">
        Вступление
    </h3>

<p>    Вы когда-нибудь чувствовали, что, несмотря на четкую цель и сильное желание,
    вы словно упираетесь в невидимую стену?
</p>
    <p>
    <strong>Срывы, саботаж и прокрастинация —
        это не признаки вашей «слабости», это работа механизмов вашей психики.</strong></p>
    <p>Движение к цели может рождать сопротивление.
        Иногда мы тратим всю энергию, чтобы «бороться» с этим сопротивлением.
        В итоге на само движение к результату сил просто не остается.
        Вы не едете к цели, вы просто изо всех сил жмете на газ, забыв снять машину с ручника.
    </p>
    <p>Можно представить ваш разум как набор программ. Наши убеждения — это программы, прописанные в прошлом.</p>
    <p class=" al_center"><strong class="green">Позитивные убеждения помогают нам лететь к цели.</strong></p>
    <p class=" al_center"><strong class="green">Негативные убеждения заставляют нас буксовать на месте.</strong></p>

    <p>
        Это упражнение снимает напряжение и помогает набрать высокую скорость.
    </p>
    <p>
        Представьте ваше убеждение как столешницу, которая держится на ножках — ваших прошлых опытах.
    </p>
    <p>
        Если мы «подпилим» старые ножки, убеждение потеряет свою опору,
        и тогда мы заменим его новым позитивным с новыми ножками.
    </p>


    <div class="technique__steps">

        <h3 class="steps__title">
            Ваш пошаговый план выхода на новую скорость:
        </h3>

        <ol class="steps__list">

            <li class="step">
                <strong class="title">Формулируем негативное убеждение</strong>
                <p class="desc">
                    То что по вашему мешает вам сейчас. Обычно мы формируем целый список таких, а после выбираем самое сильное.
                    Очень хорошо помогают высвечивать убеждения упражнения "Квадрат Декарта", "Шиворот на выворот".
                </p>
                <p class="example">
                    <strong>Примеры негативных убеждений:</strong>
                </p>
                <ul class="example">
                    <li>Если я буду недоедать,  я обреку себя на чувство одиночества и обречённости</li>
                    <li>Ограничивая себя в еде, я не разрешаю себе быть такой какой хочу</li>
                    <li>Если сброшу вес то, буду привлекать агрессивное мужское внимание</li>
                    <li>Если я себя буду ограничивать в еде, то я обязательно буду чувствовать себя наказанной</li>
                    <li>Если я буду ограничивать себя в еде, то я буду жить не свою жизнь</li>
                    <li>Что бы я не делала получиться не настолько хорошо, и я ещё сильнее разочаруюсь в себе</li>

                </ul>
            </li>

            <li class="step">
                <strong class="title">Описываем «ножки» — на чём держится этот страх сейчас</strong>
                <p class="desc">
                    Это список случаев, когда это действительно случалось с вами,
                    или вы слышали, или видели подобное с другими. Рекомендую прописать не менее 3 ножек, а жалетельно чтобы их было 5-10.
                </p>
                <p class="example">
                    Если выбрать убеждение "Ограничивая себя в еде, я не разрешаю себе быть такой какой хочу", то ножкой может быть:<br/>
                    Я хотела есть, но мама ограничивала меня, и мне приходилось подавлять свои желания.<br>
                    Бабушка говорила всё время, что неважно, что ты хочешь, делай что должна.<br>
                    И т.п.

                </p>
            </li>

            <li class="step">
                <strong class="title">
                    Находим контраргументы к каждой «ножке». Почему этот опыт больше не отражает ваше будущее?
                </strong>
                <p class="desc">
                    Как с актуальным опытом вы переосмыслили бы эту ситуацию, возможно даже перевернули.
                </p>
                <p class="example">
                    Мама не учила меня ограничивать себя, она лишь заботилась о моём здоровье.
                    И хотеть есть это не "неправильно", а скорее про внутренний мир. Это говорило, что мне чего-то не хватало.
                    Но теперь я взрослый, и я могу увидеть, что мне не хватает, а значит узнать себя ещё лучше.
                </p>
            </li>

            <li class="step">
                <strong class="title">Формируем позитивное убеждение, которое станет вашей новой программой</strong>
                <p class="desc">
                    То, что заменит старое убеждение и сделает вас счастливее.
                </p>
                <p class="example">
                    Особый фокус на моих чувствах, когда я хочу есть, поможет мне лучше узнать себя, и узнав о себе
                    больше, я смогу сбросить вес легко.
                </p>
            </li>

            <li class="step step--supports">
                <strong class="title">
                    Прописываем новые «ножки» — почему ваше новое убеждение истинно
                </strong>
                <p class="desc">
                    И снова находим основания в своём опыте, которые ярко говорили,
                    что новое убеждение — это правда.
                </p>
                <p class="example">
                    Когда я фокусируюсь на своих ощущениях в разные моменты, я начинаю видеть свои
                    потребности, что помогает мне значительно легче и экологичнее удовлетворять.<br>
                    И т.д.

                </p>
            </li>

            <li class="step step--strategy">
                <strong class="title">
                    Выбираем стратегии, которые будут ежедневно подтверждать вашу новую реальность
                </strong>
                <p class="desc">
                    Важно выбрать конкретные действия, что начнут внедрять новое убеждение в жизнь
                    и делать их регулярно до полного принятия идеи.
                </p>
                <p class="example">
                    Делать упражнение "солнечный зайчик" каждый раз, как захочу поесть.
                    <br>
                    И т.д.

                </p>
            </li>

        </ol>

    </div>

    <h3>Ваш результат:</h3>
    <p>
        Вы убираете внутренний конфликт. Энергия, которая раньше уходила на борьбу с собой,
        теперь целиком направлена на достижение результата и мечты.
    </p>


    <div class="technique__note">
        <p>
            Наши ограничивающие убеждения — это якорь, который тянет за собой.
            Можно провести ясную ещё сильнее (сдвиньтесь в обе стороны, но лодка едва сдвинется).
            Мой метод — это не совет «грести быстрее».
            Это способ срезать канат, чтобы ваша лодка сама легко заскользила к цели на полной скорости.
        </p>
    </div>

</section>
